
#container{
    position: absolute;
    background-color: rgb(47, 85, 76);
    width: 20rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    margin: -5rem 0 0 -7.5rem;
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
}

h1{
    color: white;
    margin-top: 3.5rem;
    
}


#yes{
    margin-right: 7rem;
    width: 3.5rem;
    height: 2rem;
}

#no{
    position: absolute;
    right: 5rem;
    width: 3.5rem;
    height: 2rem;
    
}